@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#prev20, #prev19, #prev18, #prev17, #prev16, #prev15, #prev14, #prev13, #prev12, #prev11, #prev10, #prev9, #prev8, #prev7, #prev6, #prev5, #prev4, #prev3, #prev2, #prev1 {
  margin-left: 3rem;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 48px !important;
}
h2,h3{
    font-family: 'Roboto Slab', serif;
}
.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/.jpg");
  background-size:cover;
}
body{
  font-family: 'Open Sans',serif;
  overflow-x: hidden;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#212529;
}
.primary{
    background-color: #448fa3;
}
.secondary{
    background-color: #d7263d;
}
.Rojo{
    color: #ffffff !important;
}
.light{
    background-color: #0090d8;
}
.dark{
    background-color: #ffffff;
}
.grey{
    background-color: #212529;
}
#obtenYa img{
    height: 450px;
    width: 400px;
}
/*Header*/
header{

    padding: 1vh 0;
}
/*Botones*/
.btn-primary:hover {
    color: #fff;
    background-color: #0088CC;
    border-color: #0088CC;
}

.btn-outline-primary {
    color: #E7B240;
    background-color: transparent;
    background-image: none;
    border-color: #E7B240;
}
.primary h1, .primary h2, .primary h3, .primary h4,.primary h5,.primary h5{
  color:#0088CC;
}

.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5,.secondary h6{
  color:#ced8db;
}

/*Banner principal*/
#bannerPrincipal img#logoRoi {
  width: 450px;
  height: 150px;
  margin: 25px 0 25px 0;
}
#bannerPrincipal h1{
  color:#0088CC;
  font-size:80px !important;
}
#bannerPrincipal p {
    margin: 25px 0 25px 0 ;
    font-size: 21px;
}
#bannerPrincipal #suscribetePrograma{
  margin: 25px 0 35px 0;
}
/*Banner principal*/
#descripcionPrograma{
  padding: 50px 0 50px 0;
}

/*iconos*/
#iconos{
  padding: 0px 0 50px 0;
  text-align: center;
  color:#0088CC;
}
.logos{
  width:65px;
  height:65px;
}
/*Fernando Celis**/
#fernandoCelis{
  padding: 30px 0 0px 0;
}

#obtenYa{
  background-color: rgba(68, 143, 163, 0.1);
  padding: 25px;
}
#obtenYa h1,#obtenYa h2,#obtenYa h3, #obtenYa h4,#obtenYa h5,#obtenYa h6{
  color: rgba(68, 143, 163, 1);
}
#obtenYa img#folleto{
  height: 225px;
  width: 200px;
}
#fernandoCelis img#fernandoFoto{
 width:100%;
}
/*CONTADOR*/
#contador{
  padding: 50px 0 50px 0;
}
h3#dias, h3#horas, h3#minutos, h3#segundos {
    text-align: center !important;
}

#contador h1{
  text-align: center;
}

/*Liston Pregunta*/
#listonListoUnirte{
  padding: 50px 0 50px 0;
}
#listonListoUnirte h1{
  text-align: center;
}

/*Descripcion Programa continuum*/
#descripcionContinuum{
  padding: 30px 0;
}
/*Testimonios*/
#testimonios{
  padding: 50px 0 50px 0;
  background-color: #02182b;
  color:#D7263D;
}

#testimonios .row{
  height: 250px;
}

#testimonios h1 {
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
}
/*LogosPatrocinadores*/
#logosPatrocinadores{
  height: 200px;
}
#logosPatrocinadores .container{
  border-top: 2px solid #448fa3;
}

#logosPatrocinadores .logos{
  width: 50%;
  height: 125px;
  margin: 25px 0 25px 0;
}
